[Unit]
Description=tsmetrics service
After=network.target

[Service]
ExecStart=/usr/local/bin/tsmetrics
Restart=always

[Install]
WantedBy=multi-user.target
